<header>
  <% unless @logo_not_a_link.nil? %>
  <a id="logo">BookWeb</a>
  <% else %>
  <%= link_to "BookWeb", root_path, :id => "logo" %>
  <% end %>
  <nav>
    <section>
      <a>Pomoc</a> | <a>Konto użytkownika</a>
      <% if signed_in? %>
      | <%= link_to "Wyloguj się", signout_path, :method => :delete %>
      <% end %>
    </section>

    <section>
      <%= link_to "Dodaj książkę", new_publication_path, :class => "main-element" %> | <%= link_to "Dodaj osobę", new_person_path, :class => "main-element" %>
      <form id="search">
        <label for="search-area">Wyszukaj</label><input id="search-area" type="text" /><input type="submit" value="Szukaj">
      </form>
    </section>
  </nav>
</header>
